# POSTGRESQL
# POSTGRES_DB_HOST=Host_Here
POSTGRES_DB_HOST=127.0.0.1

#MONGODB
# MONGO_DB_PORT=Port_Here
MONGO_DB_HOST=127.0.0.1

DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=db
DB_CONNECTION_LIMIT=20
SERVER_PORT=3000

NODE_ENV=development
