# BASE URL
BASE_URL=http://localhost:3000/
BASE_DOMAIN=localhost
FASTAPI_URL=http://127.0.0.1:8000
# TOKEN SECRET
ACCESS_TOKEN_KEY_SECRET=your_access_secret
REFRESH_TOKEN_KEY_SECRET=your_refresh_secret

# POSTGRESQL
# POSTGRES_DB_HOST=Host_Here
POSTGRES_DB_HOST=127.0.0.1

# CloudFlare R2
DATABASE_URL=postgresql://....

# CloudFlare R2
R2_ACCESS_KEY_ID = 
R2_SECRET_ACCESS_KEY = 
R2_ENDPOINT = 

R2_URL_YGO = 
R2_BUCKET_NAME_YGO = yugioh-cards
R2_URL_PKM =
R2_BUCKET_NAME_PKM = pokemon-images
R2_APP_BUCKET=tcg-app
R2_APP_URL=

DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=db
DB_CONNECTION_LIMIT=20
SERVER_PORT=3000

NODE_ENV=development
