# BASE URL
BASE_URL=http://localhost:3000/
BASE_DOMAIN=localhost

# TOKEN SECRET
ACCESS_TOKEN_KEY_SECRET=your_access_secret
REFRESH_TOKEN_KEY_SECRET=your_refresh_secret

# POSTGRESQL
# POSTGRES_DB_HOST=Host_Here
POSTGRES_DB_HOST=127.0.0.1

#MONGODB
# MONGO_DB_PORT=Port_Here
MONGO_DB_HOST=127.0.0.1

DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=db
DB_CONNECTION_LIMIT=20
SERVER_PORT=3000

NODE_ENV=development
